@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  flex: 1 0 auto;
  font-family: "Lato", sans-serif;
}

/* Header */
header {
  background-color: lightcoral;
  justify-content: center;
}

/* Main content */
main {
  background-color: lightblue;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
}
h1 {
  text-align: center;
  flex: 1 0 auto;
}
p {
  text-align: center;
  flex: 1 0 auto;
}

/* Footer */
footer {
  background-color: orange;
}
